
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description"/>
    <meta content="Coderthemes" name="author"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- App favicon -->
    <!--    <link rel="shortcut icon" th:href="@{/static/images/favicon.ico}">-->

    <!-- App css -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="assets/css/icons.min.css " rel="stylesheet" type="text/css"/>
    <link href="assets/css/app.min.css " rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="meta description">

    <!-- Site title -->
    <title>Galio - Mega Shop Responsive Bootstrap 4 Template</title>
    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{/assets/img/favicon.ico}" type="image/x-icon" />
    <!-- Bootstrap CSS -->
    <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Font-Awesome CSS -->
    <link th:href="@{/assets/css/font-awesome.min.css}" rel="stylesheet">
    <!-- helper class css -->
    <link th:href="@{/assets/css/helper.min.css}" rel="stylesheet">
    <!-- Plugins CSS -->
    <link th:href="@{/assets/css/plugins.css}" rel="stylesheet">
    <!-- Main Style CSS -->
    <link th:href="@{/assets/css/chat.css}" rel="stylesheet">
    <link th:href="@{/assets/css/style.css}" rel="stylesheet">
    <link th:href="@{/assets/css/skin-default.css}" rel="stylesheet" id="galio-skin">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
</head>

<body class="authentication-bg bg-gradient">

<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/chat :: div"></div>
<div th:replace="fragments/cart :: div"></div>
    
<div class="account-pages pt-5 mt-5 mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-pattern">


                    <div class="card-body p-4">


                        <div class="text-center w-75 m-auto">
                            <a href="index.html">
                                <span><img src="assets/img/logo.jpeg" alt="" height="98"></span>
                            </a>
                            <h5 class="text-uppercase text-center font-bold mt-4">Thay đổi mật khẩu mới của bạn</h5>
                        </div>

                        <!-- form -->
                        <form action="mt-3" th:action="@{save-new-password}" method="post">

                            <div class="form-group">
                                <script>
                                    var check = function() {
                                      if (document.getElementById('confirm_password').value ==
                                        document.getElementById('password').value) {
                                        document.getElementById('message').style.color = 'green';
                                        document.getElementById('message').innerHTML = 'Mật Khẩu Trùng Khớp!';

                                      } else {
                                        document.getElementById('message').style.color = 'red';
                                        document.getElementById('message').innerHTML = 'Mật Khẩu Không Trùng Khớp!';
                                      }
                                    }



                                </script>
                                <label for="password">Mật khẩu</label>
                                <input class="form-control" type="password"
                                       required id="password" name="password"
                                       onkeyup='check();'
                                       placeholder="Enter your password">
                            </div>
                            <div class="form-group">
                                <label> Xác nhận mật khẩu</label>
                                <input class="form-control" type="password" required id="confirm_password"
                                       name="confirm_password"
                                       onkeyup='check();'
                                       placeholder="Confirm your password">
                                <span id='message'></span>
                            </div>


                            <div class="form-group mb-0 text-center" >

                                <button class="btn btn-gradient btn-block" onclick="showSuccessToast();" type="submit">
                                    Đổi mật khẩu
                                </button>
                            </div>
                            <script>
                                      function showSuccessToast() {
                                        toast({
                                          title: "Thành công!",
                                          message: "Bạn đã đổi mật khẩu thành công!",
                                          type: "success",
                                          duration: 5000
                                        });
                                      }

                                </script>


                        </form>
                        <!--            <p style="color: red" th:text="${mess}"></p>-->
                        <div class="row mt-4">
                            <div class="col-sm-12 text-center">
                                <p class="text-muted mb-0">Bạn không nhận được email? <a href="re-send"
                                                                                         class="text-dark ml-1"><b>Gửi
                                    Lại</b></a></p>
                                <p class="text-muted mb-0">Bạn đã có tài khoản? <a href="pages-login.html"
                                                                                   class="text-dark ml-1"><b>Đăng
                                    Nhập</b></a></p>
                            </div>
                        </div>

                    </div> <!-- end card-body -->
                </div>
                <!-- end card -->


            </div> <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end page -->

<!-- Vendor js -->
<script src="assets/js/vendor.min.js"></script>

<!-- App js -->
<script src="assets/js/app.min.js"></script>
<script src="assets/js/myjs.js"></script>

<div th:replace="fragments/footer :: footer"></div>
</body>

</html>
