<footer>
    <!-- footer main start -->
    <div class="footer-widget-area pt-40 pb-38 pb-sm-10" >
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="footer-widget mb-sm-30">
                        <div class="widget-title mb-10 mb-sm-6">
                            <h4>Liên hệ</h4>
                        </div>
                        <div class="widget-body">
                            <ul class="location">
                                <li><i class="fa fa-envelope"></i>cnpm@laptop.com</li>
                                <li><i class="fa fa-phone"></i>0123456789</li>
                                <li><i class="fa fa-map-marker"></i>Địa chỉ: 1 Võ Văn Ngân, Linh Chiểu, Thủ Đức, Thành phố Hồ Chí Minh</li>
                            </ul>
                            <a class="map-btn" href="contact-us.html">Mở trên Google Map</a>
                        </div>
                    </div> <!-- single widget end -->
                </div> <!-- single widget column end -->

                <div class="col-md-3 col-sm-6">
                    <div class="footer-widget mb-sm-30">
                        <div class="widget-title mb-10 mb-sm-6">
                            <h4>Tài khoản của tôi</h4>
                        </div>
                        <div class="widget-body">
                            <ul>
                                <li><a href="/personal-info">Tài khoản của tôi</a></li>
                                <li><a href="/cart">Giỏ hàng của tôi</a></li>
                                <li><a href="/login">Đăng nhập</a></li>
                            </ul>
                        </div>
                    </div> <!-- single widget end -->
                </div> <!-- single widget column end -->

                <div class="col-md-3 col-sm-6">
                    <div class="footer-widget mb-sm-30">
                        <div class="widget-title mb-10 mb-sm-6">
                            <h4>Danh mục sản phẩm</h4>
                        </div>
                        <div class="widget-body">
                            <ul>
                                <li><a href="#">Laptop gaming</a></li>
                                <li><a href="#">Laptop văn phòng</a></li>
                                <li><a href="#">Laptop MSI</a></li>
                                <li><a href="#">Laptop Asus</a></li>
                                <li><a href="#">Laptop Acer</a></li>
                                <li><a href="#">Laptop Dell</a></li>
                                <li><a href="#">Laptop Lenovo</a></li>
                            </ul>
                        </div>
                    </div> <!-- single widget end -->
                </div> <!-- single widget column end -->

                <div class="col-md-3 col-sm-6">
                    <div class="footer-widget mb-sm-30">
                        <div class="widget-title mb-10 mb-sm-6">
                            <h4>Thông tin thêm</h4>
                        </div>
                        <div class="widget-body">
                            <ul>
                                <li><a href="#">Giới thiệu về chúng tôi</a></li>
                                <li><a href="#">Chính sách bảo mật</a></li>
                                <li><a href="#">Điều khoản sử dụng</a></li>
                                <li><a href="#">Chăm sóc khách hàng</a></li>
                                <li><a href="#">Câu hỏi thường gặp</a></li>
                            </ul>
                        </div>
                    </div> <!-- single widget end -->
                </div> <!-- single widget column end -->
            </div>
        </div>
    </div>
    <!-- footer main end -->

    <!-- footer bottom start -->
    <div class="footer-bottom bg-dark pt-10 pb-10">
        <div class="container text-center">
            <p class="text-white mb-0">&copy; 2024 CNPM. Tất cả các quyền được bảo lưu.</p>
        </div>
    </div>
    <!-- footer bottom end -->
</footer>
