<!-- scripts.html -->
<script th:src="@{/static/assets/js/vendor/modernizr-3.6.0.min.js}"></script>
<script th:src="@{/static/assets/js/vendor/jquery-3.3.1.min.js}"></script>
<script th:src="@{/static/assets/js/vendor/popper.min.js}"></script>
<script th:src="@{/static/assets/js/vendor/bootstrap.min.js}"></script>
<script th:src="@{/static/assets/js/plugins.js}"></script>
<script th:src="@{/static/assets/js/ajax-mail.js}"></script>
<script th:src="@{/static/assets/js/main.js}"></script>
<script th:src="@{/static/assets/js/switcher.js}"></script>
