<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<section class="row" layout:fragment="content">


    <head>
        <meta charset="utf-8">
        <title>Thông tin đơn hàng</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    </head>

    <body>

    <div class="checkout-page-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Checkout Login Coupon Accordion Start -->
                    <div class="checkoutaccordion" id="checkOutAccordion">
                        <div class="card">
                            <h3>Have A Coupon? <span data-toggle="collapse" data-target="#couponaccordion">Click Here To Enter Your Code</span></h3>
                            <div id="couponaccordion" class="collapse" data-parent="#checkOutAccordion">
                                <div class="card-body">
                                    <div class="cart-update-option">
                                        <div class="apply-coupon-wrapper">
                                            <form action="#" method="post" class=" d-block d-md-flex">
                                                <input type="text" placeholder="Enter Your Coupon Code" required />
                                                <button class="check-btn sqr-btn">Apply Coupon</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Checkout Login Coupon Accordion End -->
                </div>
            </div>

            <div th:if="${msg}" class="alert alert-danger" role="alert">
                <span th:text="${msg}"></span>
            </div>
            <div class="row">
                <!-- Order Summary Details -->
                <div class="col-lg-6">
                    <div class="order-summary-details mt-md-26 mt-sm-26">
                        <h2>Tóm tắt đơn hàng của bạn</h2>
                        <div class="order-summary-content mb-sm-4">
                            <!-- Order Summary Table -->
                            <div class="order-summary-table table-responsive text-center">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Sản phẩm</th>
                                        <th>Tổng</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="lineItem : ${session.lineitems}">
                                        <td>
                                            <a th:href="@{/product/{id}(id=${lineItem.product.productID})}"  th:text="${lineItem.product.name}"></a>
                                            <strong> × <span th:text="${lineItem.quantity}"></span></strong>
                                        </td>
                                        <td><span id="total" th:text="${lineItem.quantity * lineItem.product.price}"></span></td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td>Thành tiền</td>
                                        <td><strong id="subtotal" th:text="${session.totalLineItem}"></strong></td>
                                    </tr>
                                    <tr>
                                        <td>Giảm giá</td>
                                        <td><strong id="discount" th:text="${session.discount}"></strong></td>
                                    </tr>
                                    <tr>
                                        <td>Tổng tiền thanh toán</td>
                                        <td><strong id="total-amount" th:text="${session.total}"></strong></td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Checkout Billing Details -->
                <div class="col-lg-6">
                    <div class="checkout-billing-details-wrap">
                        <h2>Thông tin đơn hàng</h2>
                        <div class="billing-form-wrap">
                            <form action="/purchase/createOrder" method="post">
                                <div class="single-input-item">
                                    <label for="f_name" class="required">Họ và tên</label>
                                    <input type="text" id="f_name" name="name" placeholder="Name" th:value="${session.user.name}" required />
                                </div>

                                <div class="single-input-item">
                                    <label for="email" class="required">Địa chỉ Email</label>
                                    <input type="email" id="email" name="email" placeholder="Email Address" th:value="${session.user.email}" required />
                                </div>

                                <div class="single-input-item">
                                    <label for="province" class="required">Tỉnh</label>
                                    <input type="text" id="province" name="province" placeholder="Province"
                                           th:value="${session.address != null ? session.address.province : ''}" required />
                                </div>

                                <div class="single-input-item">
                                    <label for="district" class="required">Huyện</label>
                                    <input type="text" id="district" name="district" placeholder="District"
                                           th:value="${session.address != null ? session.address.district : ''}" required />
                                </div>

                                <div class="single-input-item">
                                    <label for="commune" class="required">Xã</label>
                                    <input type="text" id="commune" name="commune" placeholder="Commune"
                                           th:value="${session.address != null ? session.address.commune : ''}" required />
                                </div>

                                <div class="single-input-item">
                                    <label for="street-address" class="required pt-20">Địa chỉ đường</label>
                                    <input type="text" id="street-address" name="other" placeholder="Street address Line 1"
                                           th:value="${session.address != null ? session.address.other : ''}" required />
                                </div>


                                <div class="single-input-item">
                                    <input type="text" placeholder="Street address Line 2 (Optional)" />
                                </div>

                                <div class="single-input-item">
                                    <label for="phone">Số điện thoại </label>
                                    <input type="text" id="phone" name="phone" placeholder="Phone" th:value="${session.user.phone}" required />
                                </div>

                                <div class="single-input-item">
                                    <label for="ordernote">Ghi chú</label>
                                    <textarea name="ordernote" id="ordernote" cols="30" rows="3" placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                                </div>

                                <div class="summary-footer-area">
                                    <button type="submit" class="check-btn sqr-btn">Thanh toán</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script>
        function formatCurrency(amount) {
            return new Intl.NumberFormat('vi-VN', { style: 'decimal', maximumFractionDigits: 0 }).format(amount);
        }

        // Định dạng các số sau khi trang load
        document.addEventListener("DOMContentLoaded", function () {
            const totalElement = document.getElementById("total");
            const subtotalElement = document.getElementById("subtotal");
            const discountElement = document.getElementById("discount");
            const totalAmountElement = document.getElementById("total-amount");



            totalElement.textContent = formatCurrency(totalElement.textContent.trim())
            subtotalElement.textContent = formatCurrency(subtotalElement.textContent.trim())
            discountElement.textContent = formatCurrency(discountElement.textContent.trim())
            totalAmountElement.textContent = formatCurrency(totalAmountElement.textContent.trim())
        });

    </script>
    </body>
</section>
</html>