<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="meta description">

    <!-- Site title -->
    <title>Đăng ký</title>
</head>

<body>
<div layout:fragment="content">
    <!-- login register wrapper start -->
    <div class="login-register-wrapper">
        <div class="container">
            <div class="member-area-from-wrap">
                <div class="row">
                    <!-- Register Content Start -->
                    <div class="col-lg-6">
                        <div class="login-reg-form-wrap mt-md-34 mt-sm-34">
                            <h2>Đăng ký</h2>
                            <div th:if="${mess}" class="alert alert-danger">
                                <p th:text="${mess}"></p>
                            </div>
                            <form action="#" th:action="@{/save}" th:object="${user}" method="post" id="myForm" onsubmit="return validateForm();">
                                <div class="single-input-item">
                                    <input type="text" th:field="*{name}" placeholder="Họ tên đầy đủ" required />
                                </div>
                                <div class="single-input-item">
                                    <input type="email"
                                           placeholder="Email"
                                           th:field="*{email}"
                                           name="username"
                                           required
                                           pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                                           title="Nhập đúng định dạng email!" />
                                </div>

                                <script>
                                    var check = function () {
                                        if (document.getElementById('password').value.trim() !== '' && !isValidPassword(document.getElementById('password').value)) {
                                            document.querySelector('.error-password').innerText = 'Mật khẩu phải là dạng trống hoặc bao gồm ít nhất 6 kí tự, có cả chữ hoa, chữ thường, số và kí tự đặc biệt';
                                        }
                                        else {
                                            document.querySelector('.error-password').innerText = "";
                                        }

                                        if (document.getElementById('password').value ===
                                            document.getElementById('confirm_password').value) {
                                            document.getElementById('message').style.color = 'green';
                                            document.getElementById('message').innerHTML = 'Mật Khẩu Trùng Khớp!';
                                        } else {
                                            document.getElementById('message').style.color = 'red';
                                            document.getElementById('message').innerHTML = 'Mật Khẩu Không Trùng Khớp!';
                                        }
                                    }

                                    // Validate the form before submitting
                                    function validateForm() {
                                        var password = document.getElementById('password').value;
                                        var confirmPassword = document.getElementById('confirm_password').value;
                                        console.log(password)
                                        console.log(confirmPassword)

                                        if (password !== confirmPassword) {
                                            alert('Mật khẩu và mật khẩu xác nhận không khớp!');
                                            return false;
                                        }

                                        if (!isValidPassword(password)) {
                                            alert('Mật khẩu phải có ít nhất 6 ký tự, bao gồm cả chữ hoa, chữ thường, số và ký tự đặc biệt!');
                                            return false;
                                        }

                                        return true;
                                    }

                                    function isValidPassword(password) {
                                        var regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{6,}$/;
                                        return regex.test(password);
                                    }
                                </script>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="single-input-item">
                                            <input type="password" th:field="*{password}" placeholder="Mật khẩu"
                                                   required id="password" name="password"
                                                   onkeyup='check();' />
                                            <small class="text-danger error-password"></small>

                                        </div>

                                    </div>
                                    <div class="col-lg-6">
                                        <div class="single-input-item">
                                            <input type="password" name="confirm_password" id="confirm_password"
                                                   onkeyup='check();' placeholder="Nhập lại Mật khẩu" required />
                                            <span id='message'></span>

                                        </div>
                                    </div>
                                </div>
                                <div class="single-input-item">
                                    <div class="login-reg-form-meta">
                                        <div class="remember-meta">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="subnewsletter">
                                                <label class="custom-control-label" for="subnewsletter">Đăng ký bản tin</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-input-item">
                                    <button type="submit" class="sqr-btn">Đăng ký</button>
                                </div>
                            </form>
                            <a th:href="@{/login}" class="forget-pwd">Đăng nhập</a>

                        </div>
                    </div>
                    <!-- Register Content End -->
                </div>
            </div>
        </div>
    </div>
    <!-- login register wrapper end -->

</div>
</body>


</html>